*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* header */
#header{
    background-color: #151C5E;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    padding: 10px;
    z-index: 2;
}

#title{
    height: 46px;
    left: 69px; 
    top: 79px; 
    border-radius: 30px; 
    padding: 10px 25px 10px 25px;
    background: #5D5A88;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* reset bootstrap css */
    margin-bottom: 0;
}

#header-top{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#notification-icon:hover #noti-box{
    display: block;
}
#search-bar{
    width: 500px;
    height: 40px;
    color: #FFFFFF;
    background: #5D5A88;
    border-radius: 47.2727px;
    font-family: 'Arial', FontAwesome;
    padding: 10px;
    border: none;
}

#search-bar::placeholder{
    color: #FFFFFF;
}

#search-bar:focus{
    outline: none;    
}

#search-bar:focus::placeholder{
    color: transparent;
}

#noti-box{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 70px;
    right: 175px;
    display: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#noti-box:hover{
    display: block;
}

#nav-box{
    height: 50px;
    border-top: 1px solid #5D5A88;
}

#nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    /* reset bootstrap css */
    margin-bottom: 0; 
    padding-left: 0; 
}

#nav-bar .nav-item{
    padding: 5px;
    list-style-type: none;
    background: #5D5A88;
    border-radius: 10px;
}

#nav-bar .nav-item a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

#notification-icon{
    margin-right: 10px;
}

#notification-icon>#icon{
    color: white;
}

#notification-icon>#icon:hover{
    color: #F25D3C;
}

#user-box a{
    color: white;
}

#logoutBtn{
    height: 50px;
}

/* body */
#body{
    margin-top: 175px;
    padding-bottom: 10px;
}

/* news */
#news-header, #sub-header{
    width: 50vw;
    margin: 0 auto;
}

#news-item-wrapper{
    width: 50vw;
    padding: 5px;
    box-shadow: 1px 1px;
    border: 1px solid #333333;
    margin: 10px auto 0 auto;
}

#news-subtitle>a>img{
    width: 196px;
    height: 110px;
    display: block;
}

#news-title-box{
    margin-top: 10px;
    margin-bottom: 5px;
}

.news-title{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.news-title:hover{
    color: #F25D3C;
}

#subtitle{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* randomQuestion */
#subjects, #difficulties, #grade{
    width: 250px;
}

#table-question{
    border-collapse: collapse;
    margin: 0 auto;
}

#table-question, #tr-question, #td-question{
    border: 1px solid #000000;
}

#td-question{
    padding: 5px;
    width: 255px;
}

/* profile modal */
#profile-div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}

#profile-modal{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
    height: 100px;
}

/* responsive news */
@media (width <= 780px) {
    .news-title{
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
}

/* footer */
#footer{
    width: 100%;
    background-color: #151C5E;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 6px;
}

#prj-member-link{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 15px;
}

#prj-member-link a, #prj-member-link span{
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

#prj-member-link a:hover{
    color: #547A9F;
}