*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header */
#header{
    background-color: #20232A;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
}

#title{
    width: min-content;
    vertical-align: middle;
    padding-top: 10px;

}

#header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bar .nav-item{
    color: white;
    text-decoration: none;
    padding: 15px;
}

#nav-bar .nav-item:hover{
    color: red;
}

/* body */
#body{
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#news-header{
    width: 50vw;
    margin: 0 auto;
}

#news-item-wrapper{
    width: 50vw;
    padding: 5px;
    box-shadow: 1px 1px;
    border: 1px solid #333333;
    margin: 10px auto 0 auto;
}

#news-subtitle img{
    width: 196px;
    height: 110px;
}

#news-title-box{
    margin-top: 10px;
    margin-bottom: 15px;
}

.news-title{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

#subtitle{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (width <= 780px) {
    .news-title{
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
    }
}
/* footer */
#footer{
    width: 100%;
    background-color: #20232A;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 6px;
}

#prj-member-link{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 15px;
}

#prj-member-link a, #prj-member-link span{
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

#prj-member-link a:hover{
    color: #547A9F;
}