*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#header{
    background-color: #20232A;
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
}

#title{
    width: min-content;
    vertical-align: middle;
    padding-top: 10px;

}

#header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-bar{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bar .nav-item{
    color: white;
    text-decoration: none;
    padding: 15px;
}

#nav-bar .nav-item:hover{
    color: red;
}

#body{
    margin-top: 50px;
}

#footer{
    width: 100%;
    background-color: #20232A;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 6px;
}

#prj-member-link{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 15px;
}

#prj-member-link a, #prj-member-link span{
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

#prj-member-link a:hover{
    color: #547A9F;
}